body {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #505050;
  background-color: $white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.hide {
  display: none;
}

.bages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
  color: $white;
  text-transform: uppercase;
  min-height: 50px;

  &__decor {
    font-weight: 700;
    border-radius: 6px;
    padding: 3px 6px;
    margin-bottom: 6px;
  }
}

.logo__img {
  width: 200px;
  height: 60px;
  object-fit: cover;
}

.text {
  margin: 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.animate {
  transition: box-shadow 0.4s,
    background-color 0.4s,
    color 0.4s;

  &:focus {
    outline: transparent;
    box-shadow: 0 0 0 4px #E0EDCF;
  }

  &:hover {
    background-color: #4D810C;
  }

  &:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba($white, 0.5);
  }
}

.btn {
  padding: 12px 24px;
  background-color: $green-900;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 18px;
  color: $white;
  letter-spacing: 0.03em;
  margin-top: 15px;
  transition: color 0.4s, background-color 0.4s, box-shadow 0.4s;

  &:active {
    color: rgba(#ffffff, 0.5);
    box-shadow: inset 0 10px 4px rgba($black, 0.1);
  }

  &:hover {
    background-color: #4d810c;
  }

  &:focus {
    box-shadow: 0 0 0 4px #e0edcf;
    outline: transparent;
  }

  &--products {
    background-color: $white;
    color: $green-900;
    border: 1px solid $green-900;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 2px;

    &:focus {
      box-shadow: 0 0 0 4px #e0edcf;
      color: $green-900;
      outline: transparent;
    }

    &:hover {
      color: $green-900;
      background-color: $green-100;
    }

    &:active {
      color: rgba($green-900, 0.5);
      box-shadow: inset 0 10px 4px rgba($black, 0.1);
      background-color: $white;
    }

  }
}

.slick-arrow {
  width: 60px;
  height: 60px;
  border: none;
  position: absolute;
  background-color: rgba($white, 0.8);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 6px;
  padding: 14px 21px;
  top: 47%;
  transform: translateY(-50%);
  transition: background-color 0.4s;
  &:hover {
    background-color: #e0edcf;
    .slick-next__icon,
    .slick-prev__icon {
      fill: $green-900;
    } 
  }
}

.slick-next {
  right: 51px;
  &__icon {
    width: 18px;
    height: 32px;
    fill: #505050;
    transition: fill 0.4s;
  }
}

.slick-prev {
  left: 55px;
  z-index: 2;
   &__icon {
     width: 18px;
     height: 32px;
     fill:#505050;
     transition: fill 0.4s;
   }
}

.title {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
  color: $dark-900;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mix-filter__button.mixitup-control-active {
  border-bottom: 3px solid $green-200;
}

.cart {
  width: 44px;
  height: 44px;
  padding: 8px;
  background-color: $green-900;
  background-image: url('../sprite.svg#icon-cart-small');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  border-radius: 3px;
  border: none;
  transition: box-shadow 0.4s, background-color 0.4s;

  &:focus {
    box-shadow: 0 0 0 4px #E0EDCF;
    outline: transparent;
  }

  &:hover {
    background-color: #4D800C;
  }

  &:active {
    box-shadow: inset 0 4px 4px rgba($black, 0.25);
    background-color: $green-900;
  }
}

.favorite {
  border: none;
  background-color: transparent;
  transition: background-image 0.4s;
  width: 32px;
  height: 30px;
  &__icon {
    width: 44px;
    height: 44px;
    padding-right: 10px;
    fill:#c1c1c1;
    transition: fill 0.4s;
    &:hover {
      fill: #ffb800;
    }
  }
 
}

.social {
  max-width: 230px;
  display: flex;
  justify-content: space-between;

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 44px;
    height: 44px;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__link--facebook {
    background-image: url('../sprite.svg#facebook');
  }

  &__link--youtube {
    background-image: url('../sprite.svg#youtube');
  }

  &__link--telegram {
    background-image: url('../sprite.svg#telegram');
  }

  &__link--instagram {
    background-image: url('../images/icons/instagram.svg');
  }
}